*{
    margin: 0;
    padding: 0;
}
img{
    border:0;
}
ol, ul ,li{list-style: none;} 
body,html {
    font-size: 25px;
    color: rgb(168, 168, 168);
}

/*红条*/
header {
    width: 100%;
    height: 1.8rem;
    background: rgb(250, 0, 10);
    line-height: 1.8rem;
    padding-left: 0.5rem;
}
header>span {
    padding-left: 3.5rem;
    font-size: 0.8rem;
    color: white;
}

/*goods*/
.goods {
    width: 100%;
    height: 2rem;
    display: flex;
    line-height: 2rem;
    font-size: 0.5rem;
    text-align: center;
    color: rgb(234, 234, 234);
}
.goods>a {
    flex:1;
}

/*综合排序*/
.order {
    width: 100%;
    height: 1.5rem;
    line-height: 1.5rem;
    display: flex;
    text-align: center;
}
.order>p {
    flex: 1;
    font-size: 0.4rem;
}
.order .redorder {
    color: red;
}

/*内容*/
.content {
    width: 100%;
    margin-top: 0.2rem;
    font-size: 0.4rem;
}
.aucContent {
    width: 100%;
    height: 2.5rem;
    overflow: hidden;
    display: flex;
}
.aucContent>div:nth-child(1) {
    flex: 1;
}
.aucContent>div:nth-child(1)>img {
    width: 60%;
    margin-left: 0.3rem;
}
.aucContent>div:nth-child(2)>p:nth-child(1)>span {
    font-weight: bold;
}
.aucContent>div:nth-child(2)>p:nth-child(3)>span {
    color: green;
}
.aucContent>div:nth-child(2) {
    flex: 2;
    margin-left: 0.1rem;
    line-height: 0.7rem;
}

.aucContent>div:nth-child(3) {
    flex: 1;
    margin-left: 0.1rem;
    line-height: 0.7rem;
}

