*{
	margin:0;
	padding:0;
}
body{
	background: #fff;
}
ul,li{
	list-style: none;
}
a{
	text-decoration: none;
}
html{
	font-size: 25px;
}
#wrap{
	width: 100%;
}
#coll{
	width: 100%;
	height: 1.8rem;
	background: #e63535;
	font-size: 0.8rem;
	line-height: 1.8rem;
	overflow: hidden;
	text-align: center;
	border-bottom: 0.3rem solid #eee;
}
#coll>a{
	float: left;
	color:#fff;
	width: 15%;
}
#coll>p{
	float: left;
	color:#fff;
	width: 70%;
}
#man-center{
	width: 100%;
	margin-top: 0.5rem;
	font-size: 0.4rem;
}
#man-center>ul{
	width: 100%;
}
.man-js{
	display: flex;
	border-bottom: 1px solid #eee;
	padding:0.3rem 0;
	width: 90%;
	margin:0 auto;
	
}
.man-js>div:nth-child(1){
	flex: 1;
}
.man-js>div:nth-child(1)>img{
	width: 80%;
}
.man-js>div:nth-child(2){
	margin-top: 0.2rem;
	width:7rem; 
	margin-left: 0.2rem;
}
.man-js>div:nth-child(2)>p:nth-child(1){
	color:#000;
}
.man-js>div:nth-child(2)>p:nth-child(1)>span{
	color:#828282;
}
.man-js>div:nth-child(2)>p:nth-child(2){
	color:#828282;
	font-size: 0.5rem;
	font-weight: 300;
	margin-top: 0.2rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.man-js>div:nth-child(3){
	margin-top: 0.2rem;
	flex: 1;
	text-align: center;
}
.man-js>div:nth-child(3)>p:nth-child(2){
	color:red;
	font-weight: 600;
	margin-top: 0.2rem;
}