*{
	margin:0;
	padding:0;
}
ul,li{
	list-style: none;
}
a{
	text-decoration: none;
}
html{
	font-size: 25px;
}
#wrap{
	width: 100%;
	background: #f5f5f5;
}
nav{
	width: 100%;
	background: #e63535;
	height: 1.8rem;
	overflow: hidden;
	position: fixed;
	top:0;
	left: 0;
	z-index: 1000;
}
nav>a{
	width: 10%;
	float: left;
	color:#fff;
	margin-top: 0.4rem;
	margin-left: 0.5rem;
}
#root{
	width: 75%;
	float: left;
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
	height: 1.2rem;
	overflow: hidden;
	border-radius: 0.2rem;
	background: #b32929;
}
#root>img{
	float: left;
	margin-top: 0.2rem;
	width: 10%;
	margin-left: 5%;
}
#root>input{
	width: 85%;
	height: 1.2rem;
	float: left;
	border:none;
	color:#fff;
	background-color: #b32929;	
}
#header{
	width: 100%;
	height: 1.8rem;
	background: #fff;
	overflow: hidden;
	text-align: center;
	position: fixed;
	top:1.8rem;
	font-size: 0.5rem;
}
#header>a{
	float: left;
	width: 25%;
	line-height: 1.8rem;
}
#main{
	width: 100%;
	margin-top: 3.8rem;
	font-size: 0.5rem;
	background: #fff;
}
#main>ul{
	width: 90%;
	overflow: hidden;
	padding-top: 0.3rem;
	padding-bottom: 0.3rem;
	margin-left: 5%;
	border-bottom: 1px solid #ccc;
}
#main>ul>li{
	float: left;
}
#main>ul>li:nth-child(1){
	width: 17%;
}
#main>ul>li:nth-child(1) img{
	width: 100%;
	margin-top: 0.2rem;
}
#main>ul>li:nth-child(2){
	width: 60%;
	margin-left: 3%;
	line-height: 0.8rem;
}
#main>ul>li:nth-child(3){
	width: 20%;
	text-align: right;
	line-height: 0.8rem;
}
#main>ul>li:nth-child(2)>p>span:nth-child(2){
	color:gray;
}
#main>ul>li:nth-child(2)>p>span:nth-child(1){
	color:#000;
}
#main>ul>li:nth-child(2)>p:nth-child(2){
	color: gray;
}
#main>ul>li:nth-child(3)>p:first-child{
	color:gray;
	font-weight: 500;
}
#main>ul>li:nth-child(3)>p:last-child{
	color:red;
	font-weight: 500;
}